

    <ion-title size="large">Add user</ion-title>
    <form #addUserForm="ngForm">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input id="name-input" name="name" type="text"
            [(ngModel)]="name"
            #nameInput=ngModel
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Job</ion-label>
          <ion-input id="job-input" name="job" type="text"
           [(ngModel)]="job"
           #jobInput=ngModel
           required
          ></ion-input>
        </ion-item>
      </ion-list>
      <button id="button" type="submit" [disabled]="!addUserForm.form.valid">Submit</button>
    </form>